{% extends "base.html" %} {% load static %} 
{% block content %}

<section class="initial-landing-section container">
  <h1 class="app-title display-4">Your Challenge in {{ city.city }}</h1>

  {% if answers %}
  {% for answer in answers %}
  <div>
      <p>{{ answers.challenge }}</p>
      <p>{{ answer.text }}</p>
    </div>
    {% endfor %}
  {% endif %}
</section>
<div class="return-to-dashboard">
  <a href="{%url 'challenge' answers.first.id%}" class="btn btn-success w-100">Back</a>
</div>

{% endblock %}
