{% extends "base.html" %} {% load static %}
{% block content %}

<section class="initial-landing-section container">
  <h1 class="app-title display-4 mt-4">Your Challenge in {{ city.city }}</h1>
  <div class="buttons-container mx-auto mt-5">
    <p>{{ challenges.quiz }}</p>
  </div>
  {% if answers %}
  {% for answer in answers %}
  <form action="{% url 'checkanswer' %}" method="post" class="found-it-form">
    {% csrf_token %}
    <input type="hidden" name="answer" id="answer.id" value="{{  answer.id }}" />
    <input type="hidden" name="userId" id="userId" value="{{ request.user.id }}" />

    <div>
      <p></p>
    </div>
    <button class="btn mt-3 w-100 found-it btn-success" type="submit">{{ answer.text }}</button>
  </form>
  {% endfor %}
  {% endif %}

</section>
<div class="return-to-dashboard">
  <a href="{%url 'challenge' challenges.place.id%}" class="btn back btn-success w-75 mt-5">Back</a>
</div>

{% endblock %}