{% extends "base.html" %} {% load static %}
{% block content %}

<section class="initial-landing-section container">
  <h1 class="app-title display-4 mt-4">Your Challenge in {{ city.city }}</h1>

  {% if answers %}
  <form action="{% url 'checkanswer' %}" method="post" class="answer-form">

    {% csrf_token %}
    <input type="hidden" name="answer" id="answer" value="answer-1" />
    <input type="hidden" name="userId" id="userId" value="{{ request.user.id }}" />
    <div>
      <fieldset>
        <legend>{{ challenges.quiz }}</legend>
        {% for answer in answers %}

        <label>
          {{ answer.text }}
          <input type="radio" name="radio-answer" id="{{ answer.id }}">
        </label>
        {% endfor %}
      </fieldset>
    </div>
    {% for answer in answers %}
      {% if answer.confirmation == True %}
        <input type="hidden" name="correct-answer" value="{{ answer.text }}">
      {% endif %}
    {% endfor %}
    
    <button class="btn mt-3 w-100 found-it btn-success" type="submit">{{ answer.text }}</button>
  </form>
  {% endif %}

</section>
<div class="return-to-dashboard">
  <a href="{%url 'challenge' challenges.place.id%}" class="btn back btn-success w-75 mt-5">Back</a>
</div>

{% endblock %}