{% extends "base.html" %}
{% load static %}

{%block content%}
<section class="container mt-5">
    <h1 class="app-title display-4">LeaderBoard</h1>
    <ul>        
    {% if users and scores%}
        {% for score in scores %}
        <li>
            {% for userl in users %}
                {% if userl == score.user %}
                {{userl}}
                {% endif %}
            {% endfor %}
        :{{score}}
        </li>
        {% endfor %}
    {% endif %}
    </ul>
    <div class="return-to-dashboard">
        <a href="{%url 'index'%}" class="btn back btn-success w-75">Back</a>
    </div>
</section>
{% endblock %}