/* font imports */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Handlee&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/* Initial Landing page section styles */
.image-gallery {
  isolation: isolate;
  max-height: calc(100vh - 20px);
}

/* the image gallery's overlay */
.image-gallery::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.landing-section-content {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

/* Form inputs */

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Loading overlay and spinner */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #198754;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

.spinner-text {
  text-align: center;
  color: #198754;
  font-size: 1.25rem;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* headings */
.app-name {
  font-family: 'Sansita', Courier, monospace;
  font-weight: 800 !important;
}

.app-subtitle {
  font-family: 'Handlee', Courier, monospace;
}

body {
  font-family: 'ABeeZee', Courier, monospace;
}

.display-4 {
  font-family:'ABeeZee', Courier, monospace
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 500;
}