{% extends "base.html" %} {% load static %} 

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css/location/style.css' %}" />
{% endblock %} 

<!-- This is the content of the html use the sintaxis to make it easy to read dont agroup all in one line-->
{% block content %}

<section class="initial-landing-section container mt-5">
  <h1 class="app-title display-4">Select a Location</h1>
  
  <!-- You have 
    Places, Challenges, Questions objects
  -->
  {% if places %}
  <div class="card-container d-flex flex-wrap justify-content-between p-3">
    {% for place in places %}  <!--This is a for runing in the all places in the database  -->
      <a href="{% url 'challenge' place.id %}" class="card mt-3 bg-success text-center square-card {% if not places|length|divisibleby:2 and forloop.last %} w-100{% endif %}">
        <div class="card-body text-light d-flex flex-column justify-content-center">
          <h5 class="card-title">{{place.city}}</h5>
          <p class="card-text">{{place.country}}</p>
        </div>
      </a>
    
    {% endfor %}
  </div>
  {% endif %}

<div class="return-to-dashboard px-3">
  <a href="{%url 'index'%}" class="btn btn-light w-100 mx-auto">Back</a>
</div>
</section>
{% endblock %}
