{% extends "base.html" %} {% load static %} 


<!-- This is the content of the html use the sintaxis to make it easy to read dont agroup all in one line-->
{% block content %}

<section class="initial-landing-section container mt-5">
  <h1 class="app-title display-4">Select a Location</h1>
  
  <!-- You have 
    Places, Challenges, Questions objects
  -->
  {% if places %}
  {% for place in places %}  <!--This is a for runing in the all places in the database  -->
  <h1><a href="{% url 'challenge' place.id %}">{{place.title}}</a></h1> 
  <!--Place havs
      country
      city
      title  
    
    you can call it as place.country place.city etc-->
  {% endfor %}

  {% endif %}


  
</section>
<div class="return-to-dashboard">
  <a href="{%url 'index'%}" class="btn btn-success w-100">Back</a>
</div>
{% endblock %}
