{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  
  <form class="signup needs-validation" id="signup_form" method="post" action="{% url 'account_signup' %}" novalidate>
      {% csrf_token %}
      <fieldset>
        <legend>{{ title }}</legend>
        {% for field in form %}
          {% if field.errors %}
            <div class="mb-3 has-validation">
              <label for="{{ field.id_for_label }}" class="form-label d-block">{{ field.label }}</label>
              <div class="form-control is-invalid">{{ field }}</div>
              <div class="invalid-feedback">
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label d-block">{{ field.label }}</label>
              {{ field }}
              {% if field.help_text %}
                <p class="form-text"><small>{{ field.help_text }}</small></p>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </fieldset>
      <div class="mb-3">
        <button type="submit" class="btn btn-success w-100">Sign up</button>
      </div>
  </form>
  
  {% endblock %}
</div>

