{% extends "base.html" %} {% load static %}

<!-- This is the content of the html use the sintaxis to make it easy to read dont agroup all in one line-->
{% block content %}

<section class="container">
    <h2>Rules</h2>
    <div class="how-to-play">
        <h3>How to Play</h3>
        <ol>
            <li>
                Select a location for your challenge
            </li>
            <li>
                Recieve a challenge in the form of a photograph
            </li>
            <li>
                Identify what landmark or distinctive feature the photograph contains
            </li>
            <li>
                Find the location that photograph was taken from and stand there
            </li>
            <li>
                When you are confident you have found the right location, click 'Found it!'
            </li>
            <li>
                If you have successfully found the location, you will be awarded points!
            </li>
            <li>
                Take on another challenge or compare your score with other players on the leaderboard.
            </li>
        </ol>
    </div>
    <div class="return-to-dashboard">
        <a href="{%url 'index'%}" class="btn btn-success w-100">Back</a>
    </div>
</section>

{% endblock %}
