{% extends "base.html" %} {% load static %} {% block content %}

<section class="initial-landing-section container">
  <h1 class="app-title display-4">App title placeholder</h1>
  <div class="buttons-container mx-auto w-75">
    <ul
      class="buttons-list list-unstyled d-flex flex-column justify-content-between align-items-center border border-dark rounded-lg p-3 bg-light"
    >
      <li class="button-item">Play</li>
      <li class="button-item">Rules</li>
      <li class="button-item">Leaderboard</li>
    </ul>
  </div>
</section>

{% endblock %}
