{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/challenge/style.css' %}" />
{% endblock %} {% block content %}

<section class="initial-landing-section container mt-5">
  <h1 class="app-title display-4 mt-3">Your Challenge in {{ city.city }}</h1>
  <div class="buttons-container mx-auto mt-3">
    <p>Can you find the spot this photo was taken from?</p>
  </div>
  {% if challenges %}
  {% for challenge in challenges %}
  <img class="chcard mt-3" src="{{challenge.image.url}}" alt="name" />
  <form action="{% url 'changeScore' %}" method="post" class="found-it-form">
    {% csrf_token %}
    <input type="hidden" name="score" id="score" value="0" />
    <input type="hidden" name="userId" id="userId" value="{{ request.user.id }}" />

    <button class="btn mt-4 w-100 found-it btn-success" type="submit">Found It!</button>
    <button class="d-block mt-1 mx-auto w-75 text-center text-light skip" type="submit">Skip (-1 point)</button>
  </form>
  <a class="btn quiz btn-success" href="{% url 'answer' challenge.id %}">Take the Quiz</a>
  {% endfor %}
  {% endif %}

  <div class="return-to-dashboard">
    <a href="{%url 'location'%}" class="btn back btn-light w-75">Back</a>
  </div>
</section>
{% endblock %}